input[type="file"] {
    display: none;
}
body {
    background-color: #FAFDFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
   -webkit-box-shadow: 0 0 0 100px #e2fbe8 inset !important;
   -webkit-text-fill-color: #000000 !important;
}