input[type="file"] {
    display: none;
}
body {
    background-color: #FAFDFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
   -webkit-box-shadow: 0 0 0 100px #e2fbe8 inset !important;
   -webkit-text-fill-color: #000000 !important;
}

/* Barra de progreso */
#nprogress .bar {
  background: #29d;
  height: 3px;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
}

/* Spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  animation: nprogress-spinner 0.4s linear infinite;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}